<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" type="text/css" href="../static/detailStyle.css">
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>title</th>
            <td th:text="${board.title}"></td>
        </tr>
        <tr>
            <th>url</th>
            <td th:text="${board.url}"></td>
        </tr>
        <tr>
            <th>date</th>
            <td th:text="${board.createdTime}"></td>
        </tr>
        <tr>
            <th>contents</th>
            <td th:text="${board.content}"></td>
        </tr>
    </table>
    <button onclick="listReq()">목록</button>
    <button th:onclick="'updateReq(\'' + ${board.id} + '\')'">수정</button>
    <button th:onclick="'deleteReq(\'' + ${board.id} + '\')'">삭제</button>
    <button onclick="homeReq()">홈으로</button>
    <script type="application/javascript" src="../static/path.js"></script>
</body>
</html>