<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="../static/indexStyle.css">
</head>
<body>
<h1>YU coordinator</h1>
   <button onclick="saveReq()">글작성</button>
   <button onclick="listReq()">글목록</button>
   <button onclick="pagingReq()">페이징목록</button>
   <form th:action="@{/logout}" method="post">
       <button type="submit">로그아웃</button>
   </form>
   <script type="application/javascript" src="../static/path.js"></script>
</body>
</html>