<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="../static/listStyle.css">
</head>
<body>
    <button onclick="homeReq()">홈으로</button>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>date</th>
        </tr>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a></td>
            <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <script type="application/javascript" src="../static/path.js"></script>
</body>
</html>