<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" type="text/css" href="../static/listStyle.css">
</head>
<body>
<button onclick="homeReq()">홈으로</button>
<div class="container">
    <div class="list-section">
        <h2>게시글 목록</h2>
        <table>
            <tr>
                <th>index</th>
                <th>title</th>
                <th>date</th>
            </tr>
            <tr th:each="board: ${boardList}">
                <td th:text="${board.displayId}"></td>
                <td><a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a></td>
                <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
    </div>
    <div class="content-section">
        <h2>영대 소식</h2>
        <table>
            <tr>
                <th>index</th>
                <th>title</th>
            </tr>
            <tr th:each="info: ${infoList}">
                <td th:text="${info.id}"></td>
                <td><a th:href="@{|${info.url}|}" th:text="${info.title}"></a></td>
            </tr>
        </table>
        <br><br>
        <h2>컴퓨터공학과 공지사항</h2>
        <table>
            <tr>
                <th>index</th>
                <th>title</th>
            </tr>
            <tr th:each="info: ${CSEinfoList}">
                <td th:text="${info.id}"></td>
                <td><a th:href="@{|${info.url}|}" th:text="${info.title}"></a></td>
            </tr>
        </table>
    </div>
</div>
    <script type="application/javascript" src="../static/path.js"></script>
</body>
</html>