<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../static/loginStyle.css">
</head>
<body>
<div class="login-container">
  <h1>YU coordinator</h1>
  <div th:if="${param.error}">
    <p style="color: red;">입력한 아이디와 비밀번호가 일치하지 않습니다.</p>
  </div>
  <form action="/login" th:action th:object="${loginForm}" method="post">
    <div>
      <label for="name">Id:</label>
      <input type="text" id="name" th:field="*{username}" required autofocus/>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" th:field="*{password}" required/>
    </div>
    <button type="submit">Login</button>
  </form>
  <a class="signup-btn" th:href="@{/signup}">회원가입</a>
</div>
</body>
</html>
