<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <link rel="stylesheet" type="text/css" href="../static/saveStyle.css">
</head>
<body>
    <form th:action="@{/board/save}" th:object="${board}" method="post">
        writer: <input type="text" th:field="*{boardWriter}"> <br>
        title: <input type="text" th:field="*{boardTitle}"> <br>
        contents: <textarea th:field="*{boardContents}" cols="30" rows="10"></textarea> <br>
        <input type="submit" value="글작성">
    </form>
</body>
</html>