<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
    <link rel="stylesheet" type="text/css" href="../static/updateStyle.css">
</head>
<body>
    <form th:action="@{/board/update}" method="post">
        <input type="hidden" name="id" th:value="${boardUpdate.id}">
        writer: <input type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}" readonly> <br>
        title: <input type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"> <br>
        contents: <textarea name="boardContents" cols="30" rows="10" th:text="${boardUpdate.boardContents}"></textarea><br>
        <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
        <input type="submit" value="글수정">
    </form>
</body>
</html>